body {
    color: rgb(228, 223, 223);
    background: rgb(0, 1, 5);
    margin: 0px;
    font-family: "Asimovian", sans-serif;
    margin-bottom: 1px;
}

header {
    border-bottom: solid 5xp rgb(161, 18, 23);
    padding: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color:rgb(227, 241, 236);
}

.chamada {
    background: rgb(56, 53, 53);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

    h1{
        font-size: 30px;

    }
p{
    font-size: 30px;
}
img { 
    height: 200px;

}
.categoria-videos {
    display:flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img{
opacity: 0.5;
height: 200px;

}

.categoria-videos img:hover{
opacity: 1.0;
border: 7px solid rgb(254, 249, 249)

}