body {
    color: rgb(85, 76, 76);
    background: rgb(2, 6, 51);
    margin: 0px;
    font-family: "Asimovian", sans-serif;
}

header {
    border-bottom: solid 5xp rgb(65, 11, 54);
    padding: 40px;
    font-size: 40px;
    color:rgb(227, 241, 236);
}

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

    h1{
        font-size: 30px;

    }
p{
    font-size: 30px;
}